<div class="container mt-5">

	<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal">
	  Add Idea
	</button>

	<% @ideas.each do |idea| %>
	  <div class="panel panel-default">
	    <div class="panel-body">
	      <blockquote>
	        <p><%= idea.description %></p>
	        <small>by <%= idea.author %></small>
	      </blockquote> 
	    </div>
	  </div>
	<% end %>

	<%= render 'ideas/form' %>
</div>